<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek.ebey.qc.mapper.MdReportTemplateItemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aek.ebey.qc.model.MdReportTemplateItem">
		<id column="id" property="id" />
		<result column="source_item_id" property="sourceItemId" />
		<result column="report_template_id" property="reportTemplateId" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="remarks" property="remarks" />
		<result column="input_type" property="inputType" />
		<result column="columns" property="columns" />
		<result column="cross_row" property="crossRow" />
		<result column="type" property="type" />
		<result column="select_type" property="selectType" />
		<result column="create_by" property="createBy" />
		<result column="sort" property="sort" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,source_item_id AS sourceItemId, report_template_id AS reportTemplateId, parent_id AS parentId, name, remarks, input_type AS inputType, columns, cross_row AS crossRow, type, select_type AS selectType, create_by AS createBy, sort, create_time AS createTime, update_by AS updateBy, update_time AS updateTime
    </sql>
    
    <select id="getCurrentIdBySourceItemId" resultType="long">
    	SELECT id FROM md_report_template_item WHERE source_item_id=#{sourceItemId} and report_template_id=#{templateId}
    </select>
    
</mapper>
