<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek.ebey.qc.mapper.MtPlanAssetsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aek.ebey.qc.model.MtPlanAssets">
		<id column="id" property="id" />
		<result column="plan_id" property="planId" />
		<result column="assets_id" property="assetsId" />
		<result column="assets_num" property="assetsNum" />
		<result column="hospital_assets_num" property="hospitalAssetsNum" />
		<result column="assets_name" property="assetsName" />
		<result column="assets_spec" property="assetsSpec" />
		<result column="factory_num" property="factoryNum" />
		<result column="assets_dept_id" property="assetsDeptId" />
		<result column="assets_dept_name" property="assetsDeptName" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plan_id AS planId, assets_id AS assetsId, assets_num AS assetsNum, hospital_assets_num AS hospitalAssetsNum, assets_name AS assetsName, assets_spec AS assetsSpec, assets_dept_id AS assetsDeptId, assets_dept_name AS assetsDeptName, create_time AS createTime
    </sql>
</mapper>
