<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek.ebey.qc.mapper.PmPlanImplementHelpMapper">

		<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aek.ebey.qc.model.PmPlanImplementHelp">
		<id column="id" property="id" />
		<result column="plan_id" property="planId" />
		<result column="assets_id" property="assetsId" />
		<result column="assets_num" property="assetsNum" />
		<result column="assets_name" property="assetsName" />
		<result column="assets_spec" property="assetsSpec" />
		<result column="assets_dept_id" property="assetsDeptId" />
		<result column="assets_dept_name" property="assetsDeptName" />
		<result column="assets_status" property="assetsStatus" />
		<result column="assets_status_text" property="assetsStatusText" />
		<result column="tenant_id" property="tenantId" />
		<result column="tenant_name" property="tenantName" />
		<result column="create_time" property="createTime" />
		<result column="template_id" property="templateId" />
		<result column="cycle" property="cycle" />
		<result column="level" property="level" />
		<result column="first_time" property="firstTime" />
		<result column="pre_time" property="preTime" />
		<result column="next_time" property="nextTime" />
		<result column="charge_id" property="chargeId" />
		<result column="charge_name" property="chargeName" />
		<result column="check_id" property="checkId" />
		<result column="check_name" property="checkName" />
		<result column="status" property="status" />
		<result column="check_status" property="checkStatus" />
		<result column="del_flag" property="delFlag" />
		<result column="msg_status" property="msgStatus" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plan_id AS planId, assets_id AS assetsId, assets_num AS assetsNum, assets_name AS assetsName, assets_spec AS assetsSpec, assets_dept_id AS assetsDeptId, assets_dept_name AS assetsDeptName, assets_status AS assetsStatus, assets_status_text AS assetsStatusText, tenant_id AS tenantId, tenant_name AS tenantName, create_time AS createTime, template_id AS templateId, cycle, level, first_time AS firstTime, pre_time AS preTime, next_time AS nextTime, charge_id AS chargeId, charge_name AS chargeName, check_id AS checkId, check_name AS checkName, status, check_status AS checkStatus, del_flag AS delFlag, msg_status AS msgStatus
    </sql>
    
    <select id="search" resultType="com.aek.ebey.qc.request.PmPlanImplementResponse">
    
   	SELECT
  		a.id,
  		a.assets_num AS no,
  		a.assets_name AS name,
  		a.assets_spec AS model,
  		a.assets_dept_name AS departmentName,
  		a.cycle AS cycle, 
  		a.level AS level,
  		a.charge_name AS directorName,
  		a.pre_time AS prevDate, 
  		a.next_time AS nextDate,
  		a.assets_status_text AS equipmentStatus
	FROM 
		pm_plan_implement_help a WHERE a.del_flag=0
		
		<if test="user.id != null">
			and a.charge_id = #{user.id}
		</if>
		<if test="q.departmentId != null and q.departmentId !=''">
			and a.assets_dept_id = #{q.departmentId}
		</if>
		<if test="q.keyword != null and q.keyword != ''">
			and (a.assets_num like CONCAT('%',#{q.keyword},'%') OR a.assets_name LIKE CONCAT('%' ,#{q.keyword}, '%')) 
		</if>
		ORDER BY a.next_time ASC,a.id
    
    </select>
</mapper>
